

<div class="content" >
  <div class="input-wrapper">
    
    <img src="/assets/icons/weather.png" alt="cloud" width="48" height="48"/>
    <img src="{{selectedCountry?.flag}}" height="24">
    <mat-select ngClass="countrySelect" [(value)]="selectedCountry"  name="country">
      <mat-option *ngFor="let country of countries" [value]="country">
        <img src="{{country.flag}}" alt="cloud" height="14"/>
          {{country.code}}
      </mat-option>
    </mat-select>
    <mat-form-field ngClass="city-input">
      <input value={{city}} name="city" matInput (keyup.enter)="getForcast($event)" placeholder="Please enter your location...">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div *ngIf="forcastData && forcastData.length">
    <!-- avgTemp -->
    <app-temp-card [temp]="getAvgTemp()" [date]="forcastData[0].date"></app-temp-card>
    <!-- next 7 days -->
    <app-temp-card-small [forcastInfo]="forcastData.splice(0,7)"></app-temp-card-small>

  </div>
</div>




