

<div  [ngClass]="forcastData && forcastData.length ? 'content bg-image-'+ getIndex() : 'content bg-image-base'">
  <div ngClass="input-wrapper"  [class.input-wrapper-with-forcast]="forcastData && forcastData.length">
    <div>
      <img src="/assets/icons/weather.png" ngClass="weather-icon-center" alt="cloud" width="48" height="48"/>
      <img src="{{selectedCountry?.flag}}" ngClass="country-icon-center" height="24">
    </div>
  
    <mat-select ngClass="country-select" [(value)]="selectedCountry"  name="country">
      <mat-option *ngFor="let country of countries" [value]="country">
        <img src="{{country.flag}}" alt="cloud" height="14"/>
          {{country.code}}
      </mat-option>
    </mat-select>
    <mat-form-field ngClass="city-input">
      <input value={{city}} name="city" matInput (keyup.enter)="getForcast($event)" placeholder="Please enter your location...">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>


    <!-- avgTemp -->
    <app-temp-card *ngIf="forcastData && forcastData.length" [temp]="getAvgTemp()" [date]="forcastData[0].date"></app-temp-card>
    <!-- next 7 days -->
    <app-temp-card-small *ngIf="forcastData && forcastData.length" [forcastInfo]="forcastData"></app-temp-card-small>


</div>




